@model AuctionWebApplication.Auction

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Edit</h1>

<h4>Auction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AuctionId" />
            <div class="form-group">
                <label asp-for="SellerId" class="control-label"></label>
                <select asp-for="SellerId" class="form-control" asp-items="ViewBag.SellerId"></select>
                <span asp-validation-for="SellerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuctionName" class="control-label"></label>
                <input asp-for="AuctionName" class="form-control" />
                <span asp-validation-for="AuctionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuctionDesription" class="control-label"></label>
                <input asp-for="AuctionDesription" class="form-control" />
                <span asp-validation-for="AuctionDesription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartPrice" class="control-label"></label>
                <input asp-for="StartPrice" class="form-control" />
                <span asp-validation-for="StartPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BidId" class="control-label"></label>
                <select asp-for="BidId" class="form-control" asp-items="ViewBag.BidId"></select>
                <span asp-validation-for="BidId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

