@using Microsoft.AspNetCore.Identity
@model AuctionWebApplication.ViewModel.ChangeRoleViewModel

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>
    Changing roles for a user
</h2>
<form asp-action="Edit" method="post">
<input type="hidden" name="userId" value="@Model.UserId" />
	<div class="form-group" margin-left: 60px;>
		@foreach (IdentityRole role in Model.AllRoles)
		{

		<br />	<input type="radio" name="roles" value="@role.Name"
				@(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />

				@role.Name <br />
			

		}
</div>
<button type="submit" class="btn btn-primary">Save</button>
</form>