@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

@*    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Home page Admin</h1>
    </div>*@

    <!-- Content Row -->
    <div class="row">
        <img style="width: 600px;
    margin-left: 247px;" src="~/admin/imgadmin/download.png" />
    </div>

</div>
<!-- /.container-fluid -->
